body {
    text-align: center;
    margin-top: 50px;
}

.btn {
    width: 100px;
    height: 30px;
    cursor: pointer;
    background-color: rgb(182, 209, 193);
}

.img-1 {
    display: none;
}

.img-2 {
    display: none;
}

.btn_icon {
    margin-top: 5px;
}