body {
    text-align: center;
    margin-top: 260px;
}

.btn {
    width: 210px;
    height: 50px;
    background-color: rgb(182, 209, 193);
}

.btn:hover {
    background-color: rgb(180, 200, 190);
    cursor: pointer;
}

.btn:active {
    color: aliceblue;
    background-color: rgb(44, 94, 69);
    cursor: pointer;
}